@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap');

*{
    font-family: 'Prompt', sans-serif;
}

div{
    padding-bottom: 10px;
}

select{
    margin-left: 50px;
}